.row{
    display:flex;
    justify-content:center;
    align-items:center;

}
.bg-w{
    background-color: #ffff!important;
    width: 160px;
    height: 160px;
    border-radius: 150px;
}
p{
    font-size: 0.5em;
}
.label {
    font-size: 1em;
}
